input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width:8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
//variables
$smallWidth:"(max-width:992px)";

body{
    /*background: url('../img/sidenav-bg2.jpg') no-repeat;
    background-size: cover;
    background-position: center;*/
    height: 100vh;
    width: 100%;
}
section#account{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4999;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  padding: 40px;
  text-align: center;
  img#loginLogoPic{
    transition: all 0.6s linear;
  }
  div.contents{
    width: 60%;
    margin: auto;
    div.tabs-nav{
      border-bottom: 1px solid #ddd;
    }
  }
  form{
    width: 60%;
    margin: auto;
    button.btn-block{
      width: 100%;
    }
  }
}
div.center{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
img.body-img{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(20px);
}
div.body-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
section#side_nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 251px;
}
section#main{
    position: fixed;
    top: 0;
    bottom: 0;
    left:251px;
    right: 0;
  a.sidenav-trigger{
    display: none;
    position: absolute;
    top: 2%;
    color: #fff;
    left: 0.5%;
    i{
      font-size: 3rem;
    }
  }
  @media #{$smallWidth} {
    left: 0;
    a.sidenav-trigger{
      display: inline-block;
    }
  }
}

ul.sidenav {
    li.footer{
        position: absolute;
        bottom: 0;
    }
    &#settings{
        width: 350px;
    }
}

section#editor_container {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2100;
    background-color:rgba(255,255,255,1);
    //editor body
}
//default
.white-border{
    border:1px solid #fff;
}
.modal{
  max-height: 100vh!important;
}
.row{
  margin: 0!important;
}
//view
div#view{
  height: 100%;
}
#body{
  height: 100%;
  .header{
    color: #fff;
    padding: 15px 51px;
    .heading-text{
      margin: 0;
    }
  }
  .body{
    overflow-y: auto;
  }
}
//
input.box,select.box{
  padding: 10px;
  border: 1px solid #ddd;
}
#detailsModal{
  top:20%!important;width:35%!important;
}
.modal{
  top: 1% !important;
}
//reader
section#bookReader{
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  section#sideNav{
    position: absolute;
    left: 0;
    top: 7%;
    height: 100%;
    bottom: 0;
    width: 5%;
    border-right: 1px solid #999;
  }
  section#mainNav{
    position: absolute;
    left: 0;
    height: 7%;
    padding: 5px;
    top: 0;
    right: 0;
    border-bottom: 1px solid #999;
    .bookTitle{
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
  #reader{
    position: absolute;
    left: 5%;
    height: 93%;
    top: 7%;
    bottom: 0;
    right: 0;
    padding: 40px;
    overflow-y: auto;
  }
}
@import "bin/recent";
@import "bin/library";
@import "bin/store";
@import "bin/myBooks";
@import "bin/account";